@font-face {
  font-family: Font1;
  src: url("fonts/BungeeTint-Regular.ttf");
}
@font-face {
  font-family: Font2;
  src: url("fonts/Bytesized-Regular.ttf");
}
h1 {
  font-family: Font1;
  text-align: center;
}
h2 {
   font-family: Font2;
  text-align: center;
}
iframe {
  text-align: center;
}
ul {
   font-family: Font2;
  text-align: center;
}
p {
   font-family: Font2;
  text-align: center;
}
img
            {
                height: 100px;
            }
  td, th
            {
                border: 2px black solid;
                padding: 15px;
                background-color: white;
            }
  table
           {
             text-align: center;
             display:block;  
             margin: auto;
             width: 800px;
           }
  img
           { 
                display:block;
               margin: auto;
           }
  body     {
             font-family: Font2;

        }
