@font-face {
  font-family: Byte;
  src: url("css/fonts/Bytesized-Regular.ttf");
}
h1 {
  font-family: Byte;
  text-align: center;
}
ul {
   list-style-position: inside;
  text-align: center;
}
p {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h2 {
  font-family: Byte;
  text-align: center;
}
li {
  text-align: center;
}
img {
  display: block;
  margin: auto;
  width: 50%;
}
body {
  background-color: gray;
}
